$alert-themes: 
(
  ('success',lighten($success,5%)),
  ('warning',lighten($warning,5%)),
  ('error',lighten($danger,5%)),
);
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;
  .alert-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
    cursor: pointer;
  }
  .bold-title {
    font-weight: $font-weight-bold;
  }
  .alert-desc {
    font-size: $alert-description-font-size;
    margin: $alert-description-top-margin 0 0;
  }
}
@each $theme,$value in $alert-themes {
  .alert-#{$theme} {
    @include alert-style(#{$value}, #{$value}, $white);
  }
}